.Testimonials {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: fit-content(100%);
    background-color:  #495e57;
}

.Testimonials h1{
    margin: 30px 0px 0px 0;
    align-self: center;
    color: #ffffff;
    font-family: 'Markazi Text', serif;
    font-weight: medium;
    font-size: 42px;
}

.Testimonials .Testimonials-Container{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: space;
    height: fit-content(100%);
    width: 100vw;
    margin: 30px 0px;
}

.Testimonials .Testimonials-Container *{
    margin: 30px 30px;
}