.Nav {
    z-index: 2;
    position: fixed;
    top: 0;
    display: grid;
    grid-template-columns: fit-content(100%) fit-content(100%);
    width: 100vw;
    height: fit-content(100%);
    justify-content: center;
    background-color: #ffffff;
}


.Nav .Nav-logo {
    display: grid;
    grid-template-columns: fit-content(100%);
    justify-content: center;
    align-content: center;
}

.Nav .Nav-logo img {
    width: 200px;
    margin: 2vh 2vw;
}

.Nav .Nav-options {
    display: grid;
    grid-template-rows: 100%;
    grid-template-columns: fit-content(100%);
    justify-content: center;
}


.Nav .Nav-options ul {
    display: grid;
    grid-template-columns: repeat(6, fit-content(100%));
    margin-left: 2vw;
    margin-right: 2vw;
    margin-top: 1vh;
    margin-bottom: 1vh;
    padding: 0;
    column-gap: 2vw;
}

.Nav .Nav-options li{
    font-family: 'Karla', sans-serif;
    font-weight: 800;
    font-size: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Nav .Nav-hamburger-icon {
    display: none;
}

.Nav .link-style {
    text-decoration: none;
    color: #000000;
}



@media only screen and (max-width: 750px) {

    .Nav {
        justify-content: space-around;
    }

    .Nav .Nav-options{
        display: none;
    }

    .Nav .Nav-hamburger-icon {
        display: grid;
        grid-template-columns: fit-content(100%);
        justify-content: center;
        align-content: center;
    }


}