.Nav {
    display: grid;
    grid-template-columns: 2fr 3fr;
    grid-template-rows: 100%;
    width: 100vw;
    height: 10vh;
}

/*
.Nav div {
    display: flex;
    justify-content: center;
    align-items: center;
}
*/

.Nav .Nav-logo {
    display: grid;
    grid-template-columns: 160px;
    justify-content: center;
    align-content: center;
}

.Nav img {
    width: 100%;
}

.Nav .Nav-options {
    display: grid;
    grid-template-rows: 100%;
    grid-template-columns: 90%;
    justify-content: center;
}

.Nav ul {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 0;
    margin-bottom: 0;
    padding: 0;
    column-gap: 10px;
}

.Nav li{
    display: flex;
    justify-content: center;
    align-items: center;
}

