.About{
    height: fit-content(100%);
    padding: 50px 0px;
    background-color: #ffffff;
    display: grid;
    grid-template-areas: "title" "subtitle" "para" "image";
    grid-template-rows: repeat(4, fit-content(100%));
    grid-template-columns: 300px ;
    justify-content: space-around;
    align-content: center;
}

.About * {
    margin: 0;
    padding: 0;
}

.About h1 {
    grid-area: title;
    font-family: 'Markazi Text', serif;
    font-weight: 500;
    font-size: 64px;
    margin: 0 0 0 0;
    color: #000000;
}

.About h2 {
    grid-area: subtitle;
    font-family: 'Markazi Text', serif;
    font-weight: 400;
    font-size: 40px;
    color: #000000;
}

.About p {
    grid-area: para;
    font-family: 'Karla', sans-serif;
    font-weight: 500;
    font-size: 18px;
    margin: 25px 0;
    width: fit-content(100%);
    color: #000000;
}

.About .image-div {
    position: relative;
    grid-area: image;
}

.About .image-div img:nth-child(1) {
    object-fit: cover;
    justify-self: center;
}

.About .image-div img:nth-child(2) {
    object-fit: cover;
    justify-self: center;
}

@media only screen and (max-width: 750px) {
    .About .image-div * {
        margin: 10px 0px;

    }
}

@media only screen and (min-width: 750px) and (max-width: 1050px) {

    .About{
        height: fit-content(100%);
        padding: 50px 0px;
        background-color: #ffffff;
        display: grid;
        grid-template-areas: "title" "subtitle" "para" "image";
        grid-template-rows: repeat(4, fit-content(100%));
        grid-template-columns: 650px ;
        justify-content: space-around;
        align-content: center;
    }

    .About .image-div{
        display: grid;
        grid-template-columns: 300px 300px;
        justify-content: space-between;
    }

}

@media only screen and (min-width: 1050px) {

    .About{
        grid-template-areas:  "title image" "subtitle image" "para image";
        grid-template-columns: 340px 280px;
        grid-template-rows: repeat(2, fit-content(100%)) 300px;
    }

    .About .image-div img:nth-child(2) {
        position: absolute;
        left: -150px;
        top: 150px;
    }

}