footer{
    display: grid;
    height: fit-content(100%);
    background-color:  #818181;
}

footer img{
    width: 100px;
    object-fit: cover;
}

footer p{
    font-family: 'Karla', sans-serif;
    font-weight: 500;
    font-size: 18px;
    padding: 0;
    margin: 0;
}

footer ul{
    list-style: none;
    padding: 0;
    display: grid;
    font-family: 'Karla', sans-serif;
    font-weight: 500;
    font-size: 18px;
}